<aside class="main-sidebar sidebar-dark-navy elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'Core:index' %}" class="brand-link">

        <span class="brand-text font-weight-light">مركز الصفوة للعلاج الطبيعي</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}" class="img-circle elevation-2" alt="User Image">
                {% else %}
                    {% load staticfiles %}
                    <img src="{% static 'AdminLTE/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2"
                         alt="User Image">
                {% endif %}
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="بحث ..."
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            الأجندة والمواعيد
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'Calendar:TodayCalendar' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    مواعيد اليوم
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'Calendar:CalendarList' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    الأجندة
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
الحسابات
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    سندات الصرف
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Invoices:create_outcome_invoice' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Invoices:OutcomeInvoiceList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'Invoices:IncomeInvoiceList' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    سندات القبض
                                </p>
                            </a>
                        </li>
                    </ul>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>
                            البيانات الأساسية
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    المستخدمين
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Core:UserCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Core:UserList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    المرضي
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Patients:PatientCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Patients:PatientList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Patients:PatientTrash' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>سلة المهملات</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    التحاليل
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'LabTest:LabTestCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'LabTest:LabTestList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    الآشعة
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Radiology:RadiologyCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Radiology:RadiologyList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    الخدمات
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Services:ServiceCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Services:ServiceList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Services:ServiceTrashList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>سلة المهملات</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    الأدوية
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Medicines:MedicineCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Medicines:MedicineList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Medicines:MedicineTrashList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>سلة المهملات</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    الأجهزة
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'PhysicalTherapy:DeviceCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'PhysicalTherapy:DeviceList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    التمرينات
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'PhysicalTherapy:ExerciseCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'PhysicalTherapy:ExerciseList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    تصنيفات المصروفات
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Invoices:CategoryCreate' %}" class="nav-link" data-toggle="modal"
                                       data-target="#sub_modal">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>إضافة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Invoices:CategoryList' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>عرض</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'Invoices:CategoryTrash' %}"
                                       class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>سلة المهملات</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>