{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fullcalendar/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fullcalendar-daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fullcalendar-timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fullcalendar-bootstrap/main.min.css' %}">
{% endblock %}
{% block body %}
    <div class="col-lg-12">
        <a href="{% url 'Calendar:AppointmentCreate' %}" class="btn btn-success" data-toggle="modal"
           data-target="#sub_modal">
            <i class="fa fa-calendar-plus"></i> إضافة موعد
        </a>
    </div>
    <div class="col-lg-12">
        <form method="get" action="#" class="form-inline">
            <div class="form-group">
                من
                <input type="date" name="start" {% if request.GET.start %}value="{{ request.GET.start }}"{% else %}value="{% now "Y-m-01" %}"{% endif %}>
            </div>
            <div class="form-group">
                إلي
                <input type="date" name="end"{% if request.GET.end %}value="{{ request.GET.end }}"{% else %}value="{% now "Y-m-d" %}"{% endif %}>
            </div>
            <button type="submit" class="btn btn-sm btn-success">
                <i class="fa fa-filter"></i>
                فلتر
            </button>
        </form>
    </div>
    <div class="col-lg-12">
        <div id="calendar"></div>
    </div>
    <div class="col-lg-12 table-responsive">
        <table class="table table-hover">
            <thead>
            <th>#</th>
            <th>التاريخ</th>
            <th>الوقت</th>
            <th>الاسم</th>
            <th>الخدمة</th>
            <th></th>
            </thead>
            <tbody>
            {% for x in object_list %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.date.date.isoformat }}</td>
                    <td>{{ x.date.time }}</td>
                    <td>{{ x.patient.id }} - {{ x.patient }}</td>
                    <td>{{ x.service }}</td>
                    <td>
                        <a href="{% url 'Calendar:AppointmentUpdate' x.id %}" class="btn btn-warning"
                           data-toggle="modal" data-target="#sub_modal">
                            <i class="fa fa-edit"></i>
                            تعديل
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <!-- Page specific script -->
    <script src="{% static 'AdminLTE/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/fullcalendar-daygrid/main.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/fullcalendar-timegrid/main.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/fullcalendar-interaction/main.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/fullcalendar-bootstrap/main.min.js' %}"></script>
    <script>
        $(function () {

            /* initialize the calendar
             -----------------------------------------------------------------*/
            var Calendar = FullCalendar.Calendar;

            var checkbox = document.getElementById('drop-remove');
            var calendarEl = document.getElementById('calendar');


            var calendar = new Calendar(calendarEl, {
                plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                'themeSystem': 'bootstrap',
                // #ToDo: Use JSON Format instead of ListView
                events: [
                    {% for x in object_list %}

                        {
                            title: '{{ x.patient.name }}',
                            start: new Date({{ x.date.year }}, {{ x.date.month }} -1, {{ x.date.day }}, {{ x.date.hour }}, {{ x.date.minute }}),
                            {% if x.end %}
                                end: new Date({{ x.end.year }}, {{ x.end.month }} -1, {{ x.end.day }}, {{ x.end.hour }}, {{ x.end.minute }}),
                            {% endif %}
                            allDay: false,
                            backgroundColor: '#0073b7', //Blue
                            borderColor: '#0073b7' //Blue
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}

                ],

                editable: true,
                droppable: false, // this allows things to be dropped onto the calendar !!!
                drop: function (info) {
                    // is the "remove after drop" checkbox checked?
                    if (checkbox.checked) {
                        // if so, remove the element from the "Draggable Events" list
                        info.draggedEl.parentNode.removeChild(info.draggedEl);
                    }
                },
                locale: 'ar',
                slotDuration: '00:05',
                defaultTimedEventDuration: '00:05',

                eventClick: function (x) {
                    $('#sub_body').load(x.relatedTarget.href)
                }

            });

            calendar.render();
        })
        // $('#calendar').fullCalendar()

    </script>
{% endblock %}