
{% extends 'empty_base.html' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                الاسم: {{ object.patient.name }}
                <br>
                التاريخ: {{ object.added_at.date.isoformat }}
            </div>
        </div>
        <div class="card-body">

            <div style="text-align: center; min-width: 100%;">
                        <h3>نظام غذائي</h3>
            </div>
                    <h4>{{ object.description|linebreaksbr }}</h4>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>window.print();</script>
{% endblock %}