{% extends 'empty_base.html' %}

{% block body %}
    <div class="card">
    <div class="card-header">
        <div class="card-title">
            الاسم: {{ object.patient.name }}
            <br>
            التاريخ: {{ object.added_at.date.isoformat }}
        </div>
    </div>
    <div class="card-body">

    <div style="text-align: center; min-width: 100%;">
        <h3>طلب تحاليل</h3>

        <div style="text-align: center; min-width: 100%;">
            <h3>{{ object.lab_test }}</h3>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>window.print();</script>
{% endblock %}