{% extends 'base.html' %}
{% block body %}
    <a href="{% url 'Patients:PatientDetail' object.patient.id %}" class="btn btn-primary">
        <i class="fa fa-undo"></i>
        عودة لصفحة المريض
    </a>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">{{ title }}</div>
                <div class="card-tools">{% include 'segments/card_tools.html' %}</div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>الخاصية</th>
                    <th>النتيجة</th>
                    <th>الوحدة</th>
                    <th>الطبيعي</th>
                    <th>طبيعي</th>
                    <td></td>
                    </thead>
                    <tbody>
                    {% for x in object.labtestresult_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ x.attribute }}</td>
                            <td>{{ x.value }}</td>
                            <td>{{ x.lab_test.lab_test.unit }}</td>
                            <td>{{ x.lab_test.lab_test.normal_min }}</td>
                            <td>{{ x.lab_test.lab_test.normal_max }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'Patients:LabTestResultUpdate' x.id %}" class="btn btn-warning"
                                       data-toggle="modal" data-target="#sub_modal">
                                        <i class="fa fa-edit"></i>
                                        تعديل
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}